.header__wrapper {
  display: flex;
  gap: 1.5rem;
}

.header__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 35%;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #EFEFEF;
  border-radius: 1rem;
  padding: 1rem;
}

.header__navbar__links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.header__right {
  display: flex;
  flex-direction: column;
  background-color: #C1C7A3;
  border-radius: 2rem;
  padding: 2rem 2.5rem;
  max-width: 65%;
  gap: 2rem;
}

.header__right__top {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.header__right__title {
  font-size: 4rem;
  font-weight: 600;
}

.header__right__desc {
  font-size: 2.2rem;
  font-weight: 500;
}

.header__right__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.header__right__bottom__tg {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2rem;
  width: 250px;
  height: 65px;
  padding: 0.5rem;
  gap: 1rem;
}

.tg__icon__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #C1C7A3;
  border-radius: 5rem;
}

.header__right__bottom__tg p {
  font-weight: 600;
  font-size: 1.1rem;
}

.header__right__bottom__search {
  display: flex;
  justify-content: center;
}

.search__container {
  position: relative;
}

.search__input {
  border-radius: 5rem;
  padding: 1rem 3rem 1rem 1rem;
  border: 2px solid #fff;
  background-color: transparent;
  width: 17rem;
  text-align: center;
  color: #000;
  font-weight: 500;
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #000;
  }
}

.search__btn {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  background-color: #fff;
  border-radius: 100%;
  padding: 0.75rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center
}
